@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.calendar {
  border-collapse: collapse;
  margin-bottom: 20px;
}
.calendar span,
.calendar a{
  font-family: "Source Sans Pro", sans-serif;
}

.calendar th,
.calendar td {
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid var(--color-border-calendar);
  padding: 10px;
  text-align: center;
  color: var(--color-input-label);
}

.calendar th {
  border-top: none;
  border-left: none;
}

.calendar td {
  border-left: none;
  border-bottom: none;
}

.calendar th:last-child,
.calendar td:last-child {
  border-right: none;
}

table.calendar {
  width: 100%;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  animation: slideInDown;
  animation-duration: 1s;
  background-color: var(--color-calendar);
}

table.calendar > thead > tr > th {
  text-align: center;
  font-weight: normal;
}

table.calendar > tbody > tr > td {
  height: 20px;
}

table.calendar > tbody > tr > td > div {
  padding: 8px;
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
  float: left;
}

table.calendar > tbody > tr > td > div:hover {
  filter: brightness(1.1);
  transition: .3s;
}

table.calendar > tbody > tr > td.has-events {
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 4px;
}

table.calendar > tbody > tr > td.has-events > div {
  /*background-color: #08C;*/
  background: hsl(199, 25%, 46%);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  border-left: 3px solid white;
  margin-bottom: 2px;
}

table.calendar > tbody > tr > td.has-events > div:first-child {
  border-left: 0;
  margin-left: 1px;
}

table.calendar > tbody > tr > td.has-events > div.practice {
  background: hsl(271, 23%, 26%);
}

table.calendar > tbody > tr > td.has-events > div.practice {
  width: 99%;
  height: 99%;
}

table.calendar > tbody > tr > td.has-events > div.lecture {
  width: 99%;
  height: 99%;
}

table.calendar > tbody > tr > td.has-events > #colorOrange {
  background: hsl(31, 89%, 68%);
}

table.calendar > tbody > tr > td.max-conflicts > div {
  color: white;
}

table.calendar > tbody > tr > td.has-events > div > .location {
  opacity: 0.9;
}

table.calendar > tbody > tr > td.has-events > div > span {
  display: block;
  text-align: center;
  padding-top: 3px;
}
table.calendar > tbody > tr > td.has-events > div > span a {
  color: white;
}

table.calendar > tbody > tr > td.has-events > div > span.title {
  font-weight: bold;
}

table.table-borderless > thead > tr > th,
table.table-borderless > tbody > tr > td {
  border: 0;
}

.table tbody tr.hover td,
.table tbody tr.hover th {
  background-color: whiteSmoke;
}
